/* Responsive Styles */
@media (max-width: 768px) {
  header {
    border-bottom: 1px solid #ddd;
  }
  .navbar-ul {
    display: none;
    flex-direction: column;
  }
  .hamburger {
    display: block;
  }

  /* hero part  */

  .hero-content {
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero-image {
    text-align: center;
    margin-bottom: 30px;
  }

  /* second section code  */
  .card-container {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 90%;
    margin: 20px 0;
  }

  /* last section */
  .our-stories .card-container {
    grid-template-columns: 1fr;
  }

  .our-stories .card-large {
    display: none;
  }
  .our-stories .small {
    display: block;
  }

  .our-stories .card-small-container {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .our-stories .card-large img {
    height: 300px;
  }

  .our-stories h2 {
    font-size: 32px;
  }

  .view-all-btn {
    width: 150px;
    font-size: 14px;
  }

  /* footer section  */
  .footer-container {
    grid-template-columns: 1fr;
    gap: 32px 0;
  }
  .footer-item.footer-item2 {
    align-items: normal;
  }
  .footer-item.footer-item2 h3 {
    margin-left: 0;
  }
  .footer-item1 p {
    width: 357px;
  }
}
